@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.bg-primary{
  background-color: #1D0001;
}

.text-primary{
  color : #E41F26
}


.font-primary{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  
}

/* marquee tag animation */

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 22s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}


@keyframes ripple {

  0%{
    transform: scale(1);
    opacity:.6;
  }

  70%{
    opacity:.2;
  }

  100%{
    transform: scale(2.2);
    opacity:0;
  }

}
/* rippple animatin partner section */

.animate-ripple{
  animation:ripple 2.8s linear infinite;
}

.animation-delay-0{
  animation-delay:0s;
}

.animation-delay-700{
  animation-delay:.7s;
}

.animation-delay-1400{
  animation-delay:1.4s;
}

.animation-delay-2100{
  animation-delay:2.1s;
}


.column {
  position: relative;
  width: 180px;
  height: 760px;
  overflow: hidden;
}

.track {
  display: flex;
  flex-direction: column;
  gap: 30px;
  will-change: transform;
}

.track-up {
  animation: scrollUp 18s linear infinite;
}

.track-down {
  animation: scrollDown 18s linear infinite;
}

@keyframes scrollUp {

  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50%);
  }

}

@keyframes scrollDown {

  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(0);
  }

}

.column:hover .track {
  animation-play-state: paused;
}





.column {
  width: 180px;
  height: 760px;
  overflow: hidden;
  position: relative;
}

.track {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.track-up {
  animation: scrollUp 12s linear infinite;
}

.track-down {
  animation: scrollDown 12s linear infinite;
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-800px);
  }
}

@keyframes scrollDown {
  from {
    transform: translateY(-800px);
  }
  to {
    transform: translateY(0);
  }
}


/* button shine effect  */

.shiny-capsule {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  padding: 5px 20px;
  border-radius: 9999px;

  color: white;
  font-weight: 500;

  background: linear-gradient(to right, #6d0005, #d3000a);
}

/* Border mask */
.shiny-border {
  position: absolute;
  inset: 0;
  padding: 1.5px;
  border-radius: inherit;
  overflow: hidden;

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

/* Rotating shine */
.shiny-glow {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 400px;
  height: 400px;

  transform: translate(-50%, -50%);
  transform-origin: center;

  background: conic-gradient(
    from 0deg,
    transparent 0deg,
    transparent 330deg,
    rgba(255, 255, 255, 0.95) 345deg,
    rgba(255, 255, 255, 0.3) 355deg,
    transparent 360deg
  );

  animation: rotateShine 3s linear infinite;
}

@keyframes rotateShine {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}